<main class="container container-fluid mt-5 rounded-top-5">
  <div id="allPollsContainer" class="container text-center">
    {{#each polls}}
      <div class="card bg-info-subtle m-3 rounded-4">
        <header class="card-header bg-dark text-white">
          <div class="row">
            <h2 class="h2 col-8 text-white text-start">
              <a class="text-white'" href="/poll/{{id}}">{{question}}</a>
            </h2>
            <div class="align-self-center col-3 text-end m-0">Posted by
              {{user.username}}
              on
              {{format_date date_created}}</div>
          </div>
        </header>
        <div class="card-body">
          <div class="row align-center mb-3">

            <div class="col-md-12">
              {{#each pollquestions}}
                <p class="fs-5 text-start ps-4">{{answerText}}</p>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</main>

<script src="/js/homepage.js"></script>