<main class="container container-fluid mt-5 rounded-top-5">
  <h2 class="pollQuestion h1 col-8 text-start fw-bold">{{poll.question}}</h2>
  <div class="align-self-center col-3 text-end m-3">
    Posted by
    {{poll.owner.username}}
    on
    {{format_date poll.date_created}}
  </div>

  <form id="pollForm" data-poll-id="{{poll.id}}">
    <div class="row align-center mb-3">
      <div class="col-md-12">
        {{#each poll.pollquestions}}
          <div class="form-check fs-5 text-start ps-4">
            <input
              class="form-check-input"
              type="radio"
              name="choice"
              id="choice{{@index}}"
              value="{{this.id}}"
            />
            <label class="form-check-label letter-spacing: 4px m-2" for="choice{{@index}}">
              {{this.answerText}}
            </label>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="submit d-flex justify-content-center align-items-center">
      <div class="form-group col-3">
        <button
          class="button btn btn-primary btn-lg text-white fw-bold"
          type="submit"
        >Submit</button>
      </div>
    </div>
    <div class="results d-flex justify-content-center align-items-center">
      <div class="form-group col-3">
        <button
          class="button btn btn-primary btn-lg text-white fw-bold"
          type="submit"
        >Results</button>
      </div>
    </div>
              <div class="card bg-info-subtle mt-4 p-3 rounded-4 shadow-lg text-white">
            {{!-- <header class="card-header --bs-body-color bg-secondary text-white"> --}}
              <div class="row">

    {{! <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
    <button type="button" id="resultsBtn" class="btn btn-secondary">Show Results</button> }}
  </form>
  <div id="pollContainer" class="container text-center"></div>
  <div id="resultsGraph" class="d-none">
    <!-- The graph container will be displayed here once the button is clicked -->
  </div>
  </div>
</main>

<script src="/js/single-poll.js"></script>