<main class="container container-fluid mt-5 rounded-top-5">
  <h2 class="h1 col text-success fw-bold text-center">{{poll.question}}</h2>
  <div class="h5 text-center col text-end m-4 fw-bold">
    Posted by
    {{poll.user.username}}
    on
    {{format_date poll.date_created}}
  </div>

  <form
    id="pollForm"
    data-poll-id="{{poll.id}}"
    class="d-flex flex-column justify-content-center align-items-center text-center"
  >
    {{#each poll.pollquestions}}
      <div class="fs-5">
        <input
          class="form-check-input"
          type="radio"
          name="choice"
          id="choice{{@index}}"
          value="{{this.id}}"
        />
        <label
          class="form-check-label h4 letter-spacing: 5px fw-bold mb-3"
          for="choice{{@index}}"
        >
          {{this.answerText}}
        </label>
      </div>
    {{/each}}

    <div class="form-group col-lg-7 col-sm-3">
      <button
        type="submit"
        id="submitBtn"
        class="button btn btn-primary btn-lg text-white fw-bold"
      >Submit</button>
      <button
        type="button"
        id="resultsBtn"
        class="button btn btn-primary btn-lg text-white fw-bold"
      >Show Results</button>

    </div>
  </form>

  <div id="pollContainer" class="container text-center"></div>
  <div id="resultsGraph" class="d-none">

    <!-- The graph container will be displayed here once the button is clicked -->
  </div>
</main>

<script src="/js/single-poll.js"></script>